body {
    background-color: #949EFF;
}


main {
    display: flex;
    height: 100vh;
}

#left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#left img {
    width: 80%;
    margin-top: 180px;
}

#right {
    flex: 1.25;
    background-color: #fff;
    border-radius: 36px 0px 0px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}